
body {
    background-color: #F8F8F8;
}

.card {
    background: #ffffff;
    border: none;
}

.form-group {
    margin: 0 0 0.8rem 0;
}

.form-control {
    margin: 0.3rem 0 0;
}

label {
    font-size: 1rem;
    font-weight: 500;
    color: #706e6e;
}

.modal-header, .modal-body {
    padding: 0.4rem 1.1rem;
    border-bottom: 0;
}

.form-control {
    font-size: 0.9rem;
}